---
import FooterSection from "../components/FooterSection.astro";
import HeroSection from "../components/HeroSection.astro";
import NavBar from "../components/NavBar.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import AboutSection from "../components/AboutSection.astro";
import ChatBot from "../components/ChatBot";
const API_KEY = import.meta.env.PUBLIC_COHERE_API_KEY;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nico Cartellone Portfolio</title>
  </head>
  <body class="bg-[#fcfcff]">
    <NavBar />
    <main>
      <HeroSection />
      <ProjectsSection />
      <AboutSection />
      <ChatBot client:load apiKey={API_KEY} />
    </main>
    <FooterSection />
  </body>
</html>
