<section id="about" class="text-gray-600 body-font snap-center">
  <div class="container px-5 py-24 mx-auto">

    <div class="flex flex-col text-center w-full mb-20 mt-20">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-indigo-500"
      >
        Sobre Mi
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-xl">
        Desarrollador <strong>freelance</strong> de aplicaciones <strong
          >web</strong
        > y <strong>móviles</strong>, especializado en <strong>React</strong> y <strong
          >React Native</strong
        >. En búsqueda de nuevas oportunidades y en constante aprendizaje <strong
          >autodidacta</strong
        >. Actualmente ampliando mis conocimientos en el <strong
          >desarrollo de aplicaciones móviles nativas</strong
        > en la <strong>Universidad Nacional De La Matanza</strong>, así como
        también explorando <strong>NodeJs</strong> y <strong>TypeScript</strong>
        por mi cuenta.
      </p>
    </div>

  </div>
</section>
